@model CustomerSupport.Common.DashboardPageModel
@using Gens;

@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}



@*@section ContentHeader {
    <h1>Dashboard</h1>
}*@

TextBox:<br />
<input />

@*<script type="text/javascript">

     

    jQuery(function () {
        var dialogForm = new CustomerSupport.BusinessObjects.DashboardDialog($('#DialogDiv'), {});
        dialogForm.init();
        dialogForm.dialogOpen();

        //Q.initFullHeightdPage($('#DialogDiv'));
    });
</script>*@

<script type="text/javascript">

/*
    function callMe()
    {
        fetchData(myDialogAsPanel.form.Locations.values.join(','))
    }
*/

@*    var myDialogAsPanel;
    jQuery(function () {
        // first create a new dialog
        myDialogAsPanel = new CustomerSupport.BusinessObjects.DashboardDialog();
        
        // load a new entity if url doesn't contain an ID, or load order with ID specified in page URL
        // here we use done event in second parameter, to be sure operation succeeded before showing the panel
        myDialogAsPanel.load(@Html.Raw(Model.ToJson()) || {}, () => {
            // if we didn't reach here, probably there is no order with specified ID in url
            myDialogAsPanel.element.appendTo('#DialogDiv');
        });
    });*@


</script>




@section Head{
    
<link rel="stylesheet" href="~/Template/lib/Hover/hover.css">

<link rel="stylesheet" href="~/Template/lib/ionicons/css/ionicons.css">

<link rel="stylesheet" href="~/Template/lib/morrisjs/morris.css">


    }


<div class="contentpanel">
    <ol class="breadcrumb breadcrumb-quirk">
        <li><a href="index.html"><i class="fa fa-home mr5"></i> Home</a></li>
        <li><a href="buttons.html">Pages</a></li>
        <li class="active">Blank</li>
    </ol>



    <div class="row">



        <div class="col-md-9 col-lg-8 dash-left">

            <div class="panel panel-site-traffic">
                <div class="panel-heading">
                    <ul class="panel-options">
                        <li><a><i class="fa fa-refresh"></i></a></li>
                    </ul>
                    <h4 class="panel-title text-success">How Engaged Our Users Daily</h4>
                    <p class="nomargin">Past 30 Days — Last Updated July 14, 2015</p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="pull-left">
                                <div class="icon icon ion-stats-bars"></div>
                            </div>
                            <div class="pull-left">
                                <h4 class="panel-title">Tickets Waiting on customers</h4>
                                <h3>@Model.TicketsWaitingOnCustomers %</h3>
                                <h5 class="text-success">2.00% increased</h5>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="pull-left">
                                <div class="icon icon ion-eye"></div>
                            </div>
                            <h4 class="panel-title">Tickets Waition on third party</h4>
                            <h3>@Model.TicketsWaitingOnThirdParty</h3>
                            <h5 class="text-danger">5.70% decreased</h5>
                        </div>
                    </div><!-- row -->
                </div><!-- panel-body -->
            </div><!-- panel -->






            <div class="row panel-statistics">
                <div class="col-sm-6">
                    <div class="panel panel-updates">
                        <div class="panel-body">



                            <div class="row">
                                <div class="col-xs-7 col-lg-8">
                                    <h4 class="panel-title text-success">Total Customers</h4>
                                    <h3>75.7%</h3>
                                    <div class="progress">
                                        <div style="width: 45.7%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45.7" role="progressbar" class="progress-bar progress-bar-success">
                                            <span class="sr-only">@Model.CustomerCount % Complete (success)</span>
                                        </div>
                                    </div>
                                    <p>Added products for this month: 75</p>
                                </div>
                                <div class="col-xs-5 col-lg-4 text-right">
                                    <input type="text" value="@Model.CustomerCount" class="dial-success">
                                </div>
                            </div>
                        </div>
                    </div><!-- panel -->
                </div><!-- col-sm-6 -->
                <div class="col-sm-6">
                    <div class="panel panel-danger-full panel-updates">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-7 col-lg-8">
                                    <h4 class="panel-title text-warning">Opened Tickets</h4>
                                    <h3>39.9%</h3>
                                    <div class="progress">
                                        <div style="width: 39.9%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="39.9" role="progressbar" class="progress-bar progress-bar-warning">
                                            <span class="sr-only">39.9% Complete (success)</span>
                                        </div>
                                    </div>
                                    <p>Rejected products for this month: 45</p>
                                </div>
                                <div class="col-xs-5 col-lg-4 text-right">
                                    <input type="text" value="@Model.OpenedTickets" class="dial-warning">
                                </div>
                            </div>
                        </div>
                    </div><!-- panel -->
                </div><!-- col-sm-6 -->
                <div class="col-sm-6">
                    <div class="panel panel-success-full panel-updates">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-7 col-lg-8">
                                    <h4 class="panel-title text-success">Pending Tickets</h4>
                                    <h3>55.4%</h3>
                                    <div class="progress">
                                        <div style="width: 55.4%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55.4" role="progressbar" class="progress-bar progress-bar-info">
                                            <span class="sr-only">55.4% Complete (success)</span>
                                        </div>
                                    </div>
                                    <p>Sold products for this month: 1,203</p>
                                </div>
                                <div class="col-xs-5 col-lg-4 text-right">
                                    <input type="text" value="@Model.PendingTickets" class="dial-info">
                                </div>
                            </div>
                        </div>
                    </div><!-- panel -->
                </div><!-- col-sm-6 -->
                <div class="col-sm-6">
                    <div class="panel panel-updates">
                        <div class="panel-body">



                            <div class="row">
                                <div class="col-xs-7 col-lg-8">
                                    <h4 class="panel-title text-danger">Closed Tickets</h4>
                                    <h3>22.1%</h3>
                                    <div class="progress">
                                        <div style="width: 22.1%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="22.1" role="progressbar" class="progress-bar progress-bar-danger">
                                            <span class="sr-only">22.1% Complete (success)</span>
                                        </div>
                                    </div>
                                    <p>Returned products this month: 22</p>
                                </div>
                                <div class="col-xs-5 col-lg-4 text-right">
                                    <input type="text" value="@Model.ClosedTicket" class="dial-danger">
                                </div>
                            </div>
                        </div>
                    </div><!-- panel -->
                </div><!-- col-sm-6 -->
            </div><!-- row -->

        </div>



        <div class="row">
            <div class="col-md-3 col-lg-4 dash-right">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">Recent User Activity</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="media-list user-list">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="../images/photos/user2.png" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading nomargin"><a href="">Floyd M. Romero</a></h4>
                                    is now following <a href="">Christina R. Hill</a>
                                    <small class="date"><i class="glyphicon glyphicon-time"></i> Just now</small>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="../images/photos/user10.png" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading nomargin"><a href="">Roberta F. Horn</a></h4>
                                    commented on <a href="">HTML5 Tutorial</a>
                                    <small class="date"><i class="glyphicon glyphicon-time"></i> Yesterday</small>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="../images/photos/user3.png" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading nomargin"><a href="">Jennie S. Gray</a></h4>
                                    posted a video on <a href="">The Discovery</a>
                                    <small class="date"><i class="glyphicon glyphicon-time"></i> June 25, 2015</small>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="../images/photos/user5.png" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading nomargin"><a href="">Nicholas T. Hinkle</a></h4>
                                    liked your video on <a href="">The Discovery</a>
                                    <small class="date"><i class="glyphicon glyphicon-time"></i> June 24, 2015</small>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="../images/photos/user2.png" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading nomargin"><a href="">Floyd M. Romero</a></h4>
                                    liked your photo on <a href="">My Life Adventure</a>
                                    <small class="date"><i class="glyphicon glyphicon-time"></i> June 24, 2015</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- panel -->

            </div>
        </div>
    </div>

</div><!-- contentpanel -->
@section scripts{
    

<script src="~/Template/lib/morrisjs/morris.js"></script>
<script src="~/Template/lib/raphael/raphael.js"></script>
<script src="~/Template/lib/flot/jquery.flot.js"></script>
<script src="~/Template/lib/flot/jquery.flot.resize.js"></script>
<script src="~/Template/lib/flot-spline/jquery.flot.spline.js"></script>
<script src="~/Template/lib/jquery-knob/jquery.knob.js"></script>
<script src="~/Template/js/dashboard_1.js"></script>
    


    }
